html, body, #container {
    height:100%;
}

body {
/*   background-color:#E0E0E0; /* light grey */
/*  background-color:#D3D3D3; */ /* another light grey */
/*  background-color:#E6E6FA; /* lavender */
/*  background-color:#f8f8ff; /* ghost white */
  background-color:white;

  font-family:Verdana,Helvetica,Arial;
  margin:0; 
  padding:0;
  color:#333333; /* dark green */
}

body > #container {
    height:auto;
    min-height:100%;
}

#header {
  height:50px;
}

#page {
  text-align:left;
  margin:auto; 
  padding:auto; 
}

#name {
  width:500px;
  text-align:left;
  float:left;
  min-height:60px;
  font-size:3em;
}

#email {
  font-size:0.45em;
  padding-left:2pt;
}

#sidebar {
  padding-top:10px;
  float:right;
  width:200px;
  line-height:0pt;
  height:120px;
}

#sidebar a {
  padding-top:16px;
  height:0.7em;
  display:block;
  font-size:1.2em;
  font-weight:bold;
  text-align:right;
  }


#footer {
  clear:both;
  position:relative;
  z-index:10;
  height:3em; /* height of footer */
  margin-top:-3em;
  font-size: x-small;
  color:black;
  text-align:center;
} 

h2 {
  line-height:0;
}

#content {
  font-size:1.1em;
  padding-left:2px;
  float:left;
  text-align:justify;
  padding-bottom:3em;
}

/* 
 * NOTE: this must go before #email otherwise 
 *       it overwrites the #email properties 
 */
#name a {
    color:inherit;
    text-decoration:none;
}

#sidebar a, #content a, #email a, #footer a { 
  color:#4682B4; /* steel blue */
  text-decoration:none;
}

#sidebar a:hover, #email a:hover {
  color:#2F4F4F; /* dark slate gray */
}

#content, #page {
  width:800px;
}
