html, body, #container {
  height:100%;
}

body {
  /*   background-color:#E0E0E0; /* light grey */
  /*  background-color:#D3D3D3; */ /* another light grey */
  /*  background-color:#E6E6FA; /* lavender */
  /*  background-color:#f8f8ff; /* ghost white */
  background-color:white;

  font-family:Verdana,Helvetica,Arial;
  margin:0; 
  padding:0;
  color:#333333; /* dark green */
}

body > #container {
  height:auto;
  min-height:100%;
}

#header {
  height:50px;
}

#page {
  text-align:left;
  margin:auto; 
  padding-left: 25px;
  padding-right: 25px;
  max-width:800px;
}

#sidebar {
  padding-top:10px;
  line-height:0pt;
}

#sidebar a {
  padding-top:16px;
  display:block;
  font-weight:bold;
}

#content h2 {
  line-height:0;
}

#content {
  font-size:1.1em;
  padding-left:2px;
  float:left;
  padding-bottom:3em;
}

/* big screens */
@media screen and (min-width: 650px) {
  #using-small-screen {
    display: none;
  }

  #header {
    background-color: inherit;
  }

  #name {
    width:auto;
    text-align:left;
    float:left;
    min-height:60px;
    font-size:3em;
  }

  #email {
    font-size:0.45em;
    padding-left:2pt;
  }

  #content {
    padding-top:auto;
    text-align: justify;
  }

  #sidebar {
    display: block;
    float:right;
    width:200px;
    height:120px;
  }

  #sidebar a {
    padding-top:16px;
    height:0.7em;
    display:block;
    font-size:1.2em;
    font-weight:bold;
    text-align:right;
  }

  #pdf-link-bigscreen {
    font-size:0.6em;
  }

  #pdf-link-smallscreen {
    display: none;
  }

  #ryan-image {
    display: block;
    padding-right: 10px;
  }

  #content h2 {
    font-size: auto;
  }

  #menu {
    display: none;
  }
}

/* small screens */
@media screen and (max-width: 649px) {
  #using-small-screen {
    display: block;
  }

  #header {
    width: 100%;
    height:13vw;
    background-color: black;
  }

  #header a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }

  #menu {
    position:absolute;
    font-size: 7vw;
    top:0.3em;
    right:0.5em;
  }

  #name {
    text-align:center;
    min-height:60px;
    font-size:10vw;
    padding-top: 0.5em;
  }

  #email {
    font-size:5vw;
    padding: auto;
  }

  #content {
    padding-top: 20px;
    text-align: left;
  }

  #sidebar {
    display: none;
    float:left;
    height:auto;
    width:100%;
    margin-top:10px;
    background-color:#E0E0E0;
  }

  #sidebar a {
    width:100%;
    text-align: center;
    float: none;
    height: 5vw;
    font-size:6vw;
    padding-top:auto;
  }

  #pdf-link-bigscreen {
    display: none;
  }

  #pdf-link-smallscreen {
    font-size:3vw;
  }

  #ryan-image {
    display: none;
  }

  #content h2 {
    font-size: 5.5vw;
  }
}

#footer {
  clear:both;
  position:relative;
  z-index:10;
  height:3em; /* height of footer */
  margin-top:-3em;
  font-size: x-small;
  color:black;
  text-align:center;
} 

/* 
 * NOTE: this must go before #email otherwise 
 *       it overwrites the #email properties 
 */
 #name a {
  color:inherit;
  text-decoration:none;
}

#header a, #sidebar a, #content a, #email a, #footer a { 
  color:#4682B4; /* steel blue */
  text-decoration:none;
}

#sidebar a:hover, #email a:hover {
  color:#2F4F4F; /* dark slate gray */
}
