---
---

<html>

{%include header.html param="Home" %}


  <div id="container">

  <body>

    <div id="page">

      {% include nav.html %}
      
      <div id="content">
        <h2>:: Home</h2>
        <img src="ryan.jpg" alt="ryan picture" align="left" style="padding-right:10px" />
        <p>
        I recently graduated with an MS in <a href="http://www.lti.cs.cmu.edu" target=_blank>Language Technologies</a> from Carnegie Mellon University. In February I'll be starting a new role as a research programmer at <a href="http://www.carnegielearning.com/research/" target=_blank>Carnegie Learning</a>.
        </p>

        <p>
        On the rare occasion I'm not at my computer and have some free time, I really enjoy bowling. I have my own ball and everything.
        </p>

      </div>
      
    </div>

  </body>

  </div>

      {% include footer.html %}

</html>
